{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Formulaire</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/suppression.css' %}"/>
	
</head>

</html>
<header>
	<div class="contains_photo">
		<img src="{% static 'img/haut.jpg' %}" alt="Knokke digue" style="width:100%" />
	</div>
</header>

<div id=container>
	<div>Bonjour !</div>
	<div>Vous venez de supprimer les jours réservés du {{premier_jour}} au {{dernier_jour}} !</div>
	<div>NoOne (NO) vous salue de derrière son ordinateur en février 2019, n'oubliez pas son pourcentage sur les réservations (: </div>
</div>